* {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

:root {
    --std-grid-gap: 2px;
}

.container {
    padding: 5px 20px;
}

form {
    display: grid;
    gap: var(--std-grid-gap);
}

.weather-data-container {
    display: grid;
    grid-template-areas:
        "weather-location weather-location"
        "today-weather-conditions tommorow-weather-conditions";
    grid-auto-flow: horizontal;
    /* this should be done inside the weather data container in another container */
    /*grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));*/
}

.weather-location {
    font-size: 2rem;
    grid-area: weather-location;
}

.today-weather-conditions {
    display: grid;
    gap: var(--std-grid-gap);
    grid-area: today-weather-conditions;
}

.tommorow-weather-conditions {
    grid-area: tommorow-weather-conditions;
}

.today-weather-header,
.tommorow-weather-header {
    font-size: 1.5rem;
}

.today-weather-info {
    display: grid;
    gap: var(--std-grid-gap);
}

.condition-container {
    display: grid;
    grid-auto-flow: column;
    width: min(400px, 40vw);
}

li {
    list-style-type: none;
}

/* those svgs, style them */
.weather-data-container img {
    width: 20vw;
    height: 20vw;
}
